FISERV_KEY="API Key goes here"
FISERV_SECRET="Secret goes here"
FISERV_URL="https://prod.emea.api.fiservapps.com/sandbox/ipp/payments-gateway/v2/payments/"
API_URL=http://localhost:3124
WWW_URL=http://localhost:3000